<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <meta name="description" content="">
    <title>Konstantina</title>

    <link rel="stylesheet" href="../../static/css/style.css">

</head>

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <div class="navigation__list">
                <div class="navigation__item">
                    <a href="#" class="navigation__link">
                        <input class="accordion-input" type="checkbox" id="title1" />
                        <label class="accordion-label" for="title1">-Curiculum-</label>
                        <div class="accordion-content">
                            <embed class="pdf" src="../../static/document.pdf" />
                        </div>
                    </a>
                </div>
                <div class="navigation__item"><a href="#" class="navigation__link">
                        <input class="accordion-input" type="checkbox" id="title2" />
                        <label class="accordion-label" for="title2">-Contacto-</label>
                        <div class="accordion-content">
                            <form id="contact-form" method="POST" action="{% url 'contact' %}">
                                {% csrf_token %}
                
                                <label>Nombre</label>
                                <input required class="form-input styled-input" type="text" name="name"><br>

                                <label>Email</label>
                                <input required class="form-input styled-input" type="text" name="email"><br>
                
                                <label>Subject</label>
                                <input required class="form-input styled-input" type="text" name="subject"><br>
                
                                <label>Mensaje</label>
                                <textarea required class="form-input styled-input" name="message" rows="6" cols="30"></textarea><br>
                
                                <input id="submit-btn" type="submit" value="Enviar">
                            </form>
                        </div>
                    </a></div>
            </div>
        </nav>
    </div>

    <header class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Konstantina Tsagkari</span>
                <span class="heading-primary--sub">Full Stack Developer</span>
            </h1>
        </div>
    </header>

    <main>
        <section class="section-plates" id="section-plates">
            <div class="row">
                {% for job in jobs.all %}
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <img class="card__picture" src="{{ job.image.url }}">
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span">{{ job.title }}</span>
                            </h4>
                        </div>
                        <div class="card__side card__side--back card__side--back">
                            <div class="card__cta">
                                <div class="card__plate">
                                    <p class="card__plate-title">{{ job.title }}</p>
                                    <p class="card__plate-description">{{ job.summary }}</p>
                                    <a class="btn" target="blank" href="{{ job.link }}">Ver Github</a><br>
                                    <a class="btn" target="blank" href="{{ job.link }}">Ver Página Web</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>

</html>